/*fonts*/

/*open sans*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

/*bebas*/
@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/bebasneue-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
	--portfolio-white:#ffffff;
	--portfolio-black:#212121;
	--portfolio-red:#eb0844;
	--portfolio-yellow:#FCB10F;
	--portfolio-blue:#244479;
	--portfolio-green:#47B767;
	--portfolio-gray: #424242;
}


html {
	scroll-behavior: smooth;
	background-color:  #595C5C;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: var(--portfolio-black);
	overflow-x: hidden;
}

/*override bootstrap default blue*/
a {
	color: inherit;
	text-decoration: inherit;
}

a:hover {
	color: inherit;
	text-decoration: inherit;
}





/*text formatting*/

.title {
	font-family: 'bebas_neueregular';
}

.non-title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.hero-title {
	font-size: 5rem;
}

.emphasis {
	font-size: 4rem;
}

.section-title {
	font-size: 3rem;
}

.sub-title {
	font-size: 2.25rem;
	font-weight: 300;
}

.copy-title {
	font-size: 1.5rem;
	font-weight: 300;
}

.copy {
	font-size: 1rem;
	font-weight: 300;
}

.small-copy {
	font-size: .7rem;
	font-weight: 300;
}

.hero-statement {
	line-height: 1.15;
	display: none;
	transition: margin-top 750ms;
}

.copy {
	&.stinger {
	    color: white;
	    padding: 12px;
	    display: inline-block;
	    &.red {
			background-color: var(--portfolio-red);
	    }
	    &.yellow {
			background-color: var(--portfolio-yellow);
			color: var(--portfolio-black);
	    }
	    &.blue {
			background-color: var(--portfolio-blue);
	    }
	    &.green {
			background-color: var(--portfolio-green);
			color: var(--portfolio-black);
	    }
	}
}



/*component formatting*/

.container {
	max-width: min(1920px, 100% - 120px);
	padding: 0;
}

.hero {
    background-image: url("../img/hero.jpg");
    background-size: cover;
}

.section {
	width: 100%;
	height: 98vh;
 	position: relative;
 	transition: blur 1s;
}

.short-section {
	height: 75vh;
}

.unlimited {
	height: auto;
	padding: 100px 0px;
}

.unlimited:last-child {
	padding-bottom: 0px;
}

.section .container {
	height: 98vh;
}

.section.unlimited .container {
	height: auto;
}

.section-clip {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  	clip-path: content-box;
	z-index: 1;
}

@-webkit-keyframes repaint {

    from {
        width: 99.9%;
    }
    to {
        width: 100%;
    }

}

@-moz-keyframes repaint {

    from {
        width: 99.9%;
    }
    to {
        width: 100%;
    }

}

@keyframes repaint {

    from {
        width: 99.9%;
    }
    to {
        width: 100%;
    }

}

.repaint {
    -webkit-animation: repaint 100ms;
       -moz-animation: repaint 100ms;
        -ms-animation: repaint 100ms;
            animation: repaint 100ms;
  	-webkit-animation-name: repaint; /* Safari 4.0 - 8.0 */
  	-webkit-animation-duration: 100ms; /* Safari 4.0 - 8.0 */
  	animation-name: repaint;
}

.footer {
	height: auto;
	min-height: 5vh;
	padding: 0 60px 0 60px;
	background-color: #595C5C;
 	position: relative;
}

.flex-1 {
	flex: 1;
	min-width: 5.555%;

}

.flex-2 {
	flex: 2;
	min-width: 11.111%;
}

.flex-3 {
	flex: 3;
	min-width: 16.666%;
}

.flex-4 {
	flex: 4;
	min-width: 22.222%;
}

.flex-5 {
	flex: 5;
	min-width: 27.777%;
}

.flex-6 {
	flex: 6;
	min-width: 33.333%;
}

.flex-7 {
	flex: 7;
	min-width: 38.888%;
}

.flex-8 {
	flex: 8;
	min-width: 44.444%;
}

.flex-9 {
	flex: 9;
	min-width: 50%;
}

.flex-10 {
	flex: 10;
	min-width: 55.55%;
}

.flex-11 {
	flex: 11;
	min-width: 61.111%;
}

.flex-12 {
	flex: 12;
	min-width: 66.66%;
}

.flex-13 {
	flex: 13;
	min-width: 72.222%;
}

.flex-14 {
	flex: 14;
	min-width: 77.777%;
}

.flex-15 {
	flex: 15;
	min-width: 83.333%;
}

.flex-16 {
	flex: 16;
	min-width: 88.888%;
}

.flex-17 {
	flex: 17;
	min-width: 94.4444%;
}

.flex-18 {
	flex: 18;
	min-width: 100%;
}

.justify-center {
	justify-content: center;
}

.content-btn {
	min-width: 300px;
	min-height: 65px;
	border-radius: 50px;
	border: 3px solid white;
}

.content-btn:hover {
	background-color: white;
}

.content-btn.inverse {
	border: 3px solid var(--portfolio-black);
}

.content-btn.inverse:hover {;
	background-color: var(--portfolio-black);
}

.red-bg .content-btn:hover .title {
	color: var(--portfolio-red) !important;
}

.blue-bg .content-btn:hover .title {
	color: var(--portfolio-blue) !important;
}

.yellow-bg .content-btn:hover .title {
	color: var(--portfolio-yellow) !important;
}

.green-bg .content-btn:hover .title {
	color: var(--portfolio-green) !important;
}

.pre-slide-in {
	margin-top: -25px;
}

.post-slide-in {
	margin-top: 0px;
}

.down-arrow {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    cursor: pointer;
	-webkit-animation-name: bounce; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
	-webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
	animation-name: bounce;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	position: relative;
	animation-timing-function:ease;
}

.arrow-point {
	-webkit-animation-name: small-bounce; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
	-webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
	animation-name: small-bounce;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	position: relative;
	animation-timing-function:ease;
	animation-delay: .1s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes bounce {
  0%   {transform: translate(0px, 0%);}
  80%  {transform: translate(0px, 0%);}
  90%  {transform: translate(0px, 10%);}
  100% {transform: translate(0px, 0%);}
}

/* Standard syntax */
@keyframes bounce {
  0%   {transform: translate(0px, 0%);}
  80%  {transform: translate(0px, 0%);}
  90%  {transform: translate(0px, 10%);}
  100% {transform: translate(0px, 0%);}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes small-bounce {
  0%   {transform: translate(0px, 0%);}
  80%  {transform: translate(0px, 0%);}
  90%  {transform: translate(0px, 5%);}
  100% {transform: translate(0px, 0%);}
}

/* Standard syntax */
@keyframes small-bounce {
  0%   {transform: translate(0px, 0%);}
  80%  {transform: translate(0px, 0%);}
  90%  {transform: translate(0px, 5%);}
  100% {transform: translate(0px, 0%);}
}

.z-0 {
	z-index: 0 !important;
}

.z-1 {
	z-index: 1 !important;
}

.z-2 {
	z-index: 2 !important;
}

.z-3 {
	z-index: 3 !important;
}

.z-4 {
	z-index: 4 !important;
}

.nav-bullet {
    width: 0;
    position: absolute;
    display: inline-block;
    left: -18px;
}

.about-modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 5;
	display: none;
	background-color: rgba(255, 255, 255, .94);
}

#about-section {
	height: 100vh;
}

.separator {
	height: 100px;
	width: 100%;
}

.breakout {
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  width: 100vw;
}

.load-proto {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}








/* --------------------------- navigation ----------------------------- */

.logo-bug {
	min-height: 70px;
	min-width: 70px;
	aspect-ratio: 1 / 1;
	padding: 0 13px;
	font-family: 'bebas_neueregular';
	font-size: 3rem;
	background-color: var(--portfolio-red);
	color: white;
	text-align: center;
	position: fixed;
	top: 40px;
	left: 60px;
	cursor: pointer;
	transition: background-color .5s, margin-top 750ms !important;

	.red-bg &, .blue-bg & {
		background-color: var(--portfolio-white);
	}
	.yellow-bg &, .green-bg & {
		background-color: var(--portfolio-black);
	}

	.red-bg & {
		color: var(--portfolio-red);
	}

	.yellow-bg & {
		color: var(--portfolio-yellow);
	}

	.green-bg & {
		color: var(--portfolio-green);
	}

	.blue-bg & {
		color: var(--portfolio-blue);
	}
}

.red-section, .blue-section {
	color: var(--portfolio-white) !important;
}

.yellow-section, .green-section {
	color: var(--portfolio-black);
}

.red-section .social-link svg {
	fill: var(--portfolio-red);
}

.yellow-section .social-link svg {
	fill: var(--portfolio-yellow);
}

.blue-section .social-link svg {
	fill: var(--portfolio-blue);
}

.green-section .social-link svg {
	fill: var(--portfolio-green);
}

.social-link {
	height: 35px;
	width: 35px;
	border-radius: 50%; 
	background-color: var(--portfolio-red);
	display: inline-flex;
	margin-left: 20px;
	padding: 7px;
	cursor: pointer;
}

.yellow-section .social-link, .green-section .social-link {
	background-color: var(--portfolio-black);
}

.scroll-links {
	position: fixed;
	top: 155px;
	left: 60px;
	font-family: 'bebas_neueregular';
	font-size: 1.75rem;
	letter-spacing: 1px;
	color: var(--portfolio-black);
	cursor: pointer;
	transition: margin-top 750ms;
}

.nav-fade-container {
	display: none;
	z-index: 1;
	position: relative;
}

.scroll-links div {
	transition: color .5s, padding-left .2s;
	position: relative;
	padding-left: 0px;
}

.about-social-container {
	position: fixed;
	top: 32px;
	right: 60px;
	display: flex;
	display: none;
	justify-content: center;
	transition: margin-top 750ms;
	z-index: 1;
}

.about-me {
	font-family: 'bebas_neueregular';
	font-size: 1.75rem;
	letter-spacing: 1px;
	color: var(--portfolio-red);
	display: inline-flex;
	margin-left: 35px;
	line-height: 35px;
	cursor: pointer;
}

.social-link svg {
	fill: white;
	width: 100%;
	height: 100%;
}

.section-scroll-links div {
	padding-left: 0px;
	transition: padding-left .3s;
}

.scroll-links div:hover, .section-scroll-links div:hover {
	padding-left: 10px;
}

.section-logo-bug {
	min-height: 70px;
	min-width: 70px;
	font-family: 'bebas_neueregular';
	font-size: 3rem;
	color: white !important;
	text-align: center;
	position: fixed;
	top: 40px;
	left: 60px;
	cursor: pointer;
	z-index: 1;
}

.section-scroll-links {
	position: fixed;
	top: 155px;
	left: 60px;
	font-family: 'bebas_neueregular';
	font-size: 1.75rem;
	letter-spacing: 1px;
	cursor: pointer;
	z-index: 2;
}

.section-about-social-container {
	position: fixed;
	top: 32px;
	right: 60px;
	/*display: flex;*/
	justify-content: center;
	transition: margin-top 750ms;
	z-index: 2;
}

.section-about-me {
	font-family: 'bebas_neueregular';
	font-size: 1.75rem;
	letter-spacing: 1px;
	display: inline-flex;
	margin-left: 35px;
	line-height: 35px;
	z-index: 2;
	cursor: pointer;
	color: white;
	
	.yellow-section & {
		color: var(--portfolio-black);
	}
	.green-section & {
		color: var(--portfolio-black);
	}
}

.section-social-link {
	height: 35px;
	width: 35px;
	border-radius: 50%;
	display: inline-flex;
	margin-left: 20px;
	padding: 7px;
	cursor: pointer;
	z-index: 2;
}

/*fix for webkit clip and fixed repaint bug*/
.repaint {
  -webkit-animation-name: repaint; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: repaint;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes repaint {
	0%   {opacity: 1;}
	50%  {opacity: .995}
	100% {opacity: 1;}
}

/* Standard syntax */
@keyframes repaint {
	0%   {opacity: 1;}
	50%  {opacity: .995;}
	100% {opacity: 1;}
}

.close-x {
	height: 35px;
	width: 35px;
	position: fixed;
	top: 40px;
	right: 60px;
	cursor: pointer;
	-webkit-animation-name: bounce; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
	-webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
	animation-name: bounce;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function:ease;
	transition: margin-top .5s;
}

.add-blur {
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}










/* -------------------- image formatting -------------------- */

.feature {
	width: 100%;
	max-width: 960px;

	.d-flex {
		flex-grow: 1;
	}
}

.ux-splash {
	width: 298px;
	height: auto;
	position: relative;
	display: inline-block;
	margin-left: -3px;
}

.mobile-proto-container {
	display: none !important;
}

.splash-proto-container {
	display: inline-flex !important;
}

.splash-proto {
	width: 299px;
	height: 580px;
	position: absolute;
	padding: 0px 19px;
	object-fit: cover;
	overflow: hidden;
	margin-right: -5px;
}

.splash-proto img {
	width: 100%;
	height:auto;
	object-fit: cover;
	top: 46px;

	-webkit-animation-name: proto-scroll; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
	-webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
	animation-name: proto-scroll;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	position: relative;
	animation-timing-function:ease;
	animation-delay: .1s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes proto-scroll {
	0%   {top: 46px;}
	15%   {top: 46px;}
	40%  {top: -270px;}
	45%  {top: -270px;}
	70%  {top: -540px;}
	80%  {top: -540px;}
	100% {top: 46px;}
}

/* Standard syntax */
@keyframes proto-scroll {
	0%   {top: 46px;}
	15%   {top: 46px;}
	40%  {top: -245px;}
	45%  {top: -245px;}
	70%  {top: -520px;}
	80%  {top: -520px;}
	100% {top: 46px;}
}

.thumb-scroll {
	height: 45px;
	width: 45px;
	border-radius: 50%;
	background-color: blue;
	border: 2px solid blue;
	position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
	top: 200px;
	opacity: .5;
	-webkit-animation-name: thumb-scroll; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
	-webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
	animation-name: thumb-scroll;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function:ease;
	animation-delay: .1s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes thumb-scroll {
	0%   {top: 500px; opacity: 0;}


	9%   {opacity: 0;}
	15%   {top: 400px; opacity: .5;}
	40%  {top: 100px; opacity: .5;}
	42% {opacity: 0;}

	43% {opacity: 0;}
	45%  {top: 400px; opacity: .5;}
	70%  {top: 100px; opacity: .5;}
	72%  {opacity: 0;}

	77%  {opacity: 0;}
	80% {top: 100px; opacity: .5;}
	100% {top: 400px;}
}

/* Standard syntax */
@keyframes thumb-scroll {
	0%   {top: 400px; opacity: 0;}


	9%   {opacity: 0;}
	15%   {top: 400px; opacity: .5;}
	40%  {top: 125px; opacity: .5;}
	42% {top: 125px; opacity: 0;}


	43% {opacity: 0;}
	45%  {top: 400px; opacity: .5;}
	70%  {top: 125px; opacity: .5;}
	72%  {opacity: 0;}

	77%  {opacity: 0;}
	80% {top: 50px; opacity: .5;}
	85% {opacity: .5;}
	87% {top: 475px; opacity: 0;}
	100% {top: 475px; opacity: 0;}
}

.shadow-splash {
	width: 290px;
	height: 602px;
	display: inline-block;
	left: 0;
	top: -10px;
	border-radius: 40px;
}

.ux-iso {
	width: 100%;
	height: auto;
	position: relative;
	display: inline-block;
	border-radius: 4px;
}

.headshot {
	object-fit: cover;
	border-radius: 50%;
	overflow: hidden;
	height: 300px;
	width: 300px;
}

img.warning-gif {
    height: 30px;
    width: auto;
    position: relative;
    top: -3px;
    margin-right: 10px;
}

@supports (hanging-punctuation: first) and (font: -apple-system-body) and (-webkit-appearance: none) {
	.index-content-anim, .index-title-anim, .proto-content-anim, .proto-image-anim, .freelance-scroller-text, .freelance-scroller-img {
		animation-name: none !important;
	}
}

.index-title-anim {
  view-timeline-name: --subjectReveal;
  animation-timeline: --subjectReveal;
  animation-name: index-title-anim;
  animation-fill-mode: both;
  width: 100%;
  margin: 0;
  animation-timing-function: linear;
}

@keyframes index-title-anim {
    0% {
      transform: translateY(800px);
    }

    50% {
      transform: translateY(0px);
    }

    100% {
      transform: translateY(-800px);
    }
}


.index-content-anim {
  view-timeline-name: --subjectReveal;
  animation-timeline: --subjectReveal;
  animation-name: index-content-anim;
  animation-fill-mode: both;
  width: 100%;
  animation-timing-function: linear;
}

@keyframes index-content-anim {

    0% {
      transform: translateY(400px);
    }

    50% {
      transform: translateY(0px);
    }

    100% {
      transform: translateY(-400px);
    }
}



.proto-content-anim {
  view-timeline-name: --subjectReveal;
  animation-timeline: --subjectReveal;
  animation-name: proto-content-anim;
  animation-fill-mode: both;
  width: 100%;
  margin: 0;
  animation-timing-function: linear;
}

@keyframes proto-content-anim {
    0% {
      transform: translateY(800px);
      opacity: 0;
    }
    
    20% {
      opacity: 0;
    }
    
    45% {
      opacity: 1;
    }

    50% {
      transform: translateY(0px);
    }

    100% {
      transform: translateY(-800px);
    }
}


.proto-image-anim {
  view-timeline-name: --subjectReveal;
  animation-timeline: --subjectReveal;
  animation-name: proto-image-anim;
  animation-fill-mode: both;
  width: 100%;
  animation-timing-function: linear;
}

@keyframes proto-image-anim {

    0% {
      transform: translateY(400px);
    }

    50% {
      transform: translateY(0px);
    }

    100% {
      transform: translateY(-400px);
    }
}


.meazure-gallery-container {
    height: auto;
    padding: 40px 60px;
    overflow: hidden;
    display: flex;
    justify-content: center;

    .meazure-gallery {
    	max-width: 1620px;
    	display: flex;
    	align-items: center;
    	justify-content: center;
    	column-gap: 40px;
    }

    .m-g-laptop {
    	width: 66%;
    	display: inline-block;
    }

    .m-g-mobile-container {
    	display: flex;
    	column-gap: 40px;
    }

    .m-g-mobile {
    	width: calc(50% - 20px);
    	display: inline-block;
    }
}

.examity-gallery-container {
    height: auto;
    padding: 40px 60px;
    overflow: hidden;
    display: flex;
    justify-content: center;

    .examity-gallery {
    	width: 100%;
    	max-width: 2560px;
		display: grid;
	    grid-template-columns: repeat(4, 1fr);
	    grid-template-rows: 1fr 1fr;
	    gap: 20px;
    }

    .e-g-item {
    	 aspect-ratio: 8 / 6;
		  width: 100%;
		  object-fit: cover;
		  border-radius: 4px;
    }
}

.supertheme-gallery-container {
    height: 500px;
    margin-top: 100px;
    overflow: hidden;
}

.supertheme-gallery {
    width: 33.333vw;
    height: 500px;
    float: left;
	background-attachment: fixed;
	background-position: center center;
	background-size: 33.333vw auto; 
}

.mindmap-gallery-container {
    height: 500px;
    margin-top: 100px;
    overflow: hidden;
}

.mindmap-gallery {
    width: 100%;
    height: 500px;
    float: left;
	background-attachment: fixed;
	background-position: center center;
	background-size: 100% auto; 
}

.portfolio-gallery-container {
    margin-left: -20px;
}

.portfolio-gallery {
    width: calc(20vw - 16px);
    height: auto;
    float: left;
	margin: 0 0 0 20px;
	border-radius: 20px;
}

.preparedness-gallery-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 100px;
	row-gap: 40px;
}

.preparedness-gallery {
	display: grid;
	gap: 40px;
}

.email-gallery-container {
	row-gap: 40px;

	.email-gallery {
		gap: 40px;
		display: grid;
		grid-template-columns: repeat(4, 1fr);

		img {
			width: 100%;
			border-radius: 4px;
		}
	}
}

.proto-colors-container {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 24px;
	margin-top: 24px;

	.proto-colors {
		aspect-ratio: 1/1;
		width: 100%;
		border-radius: 50%;
		&.red {
			background-color: var(--portfolio-red);
		}
		&.yellow {
			background-color: var(--portfolio-yellow);
		}
		&.blue {
			background-color: var(--portfolio-blue);
		}
		&.green {
			background-color: var(--portfolio-green);
		}
		&.black {
			background-color: var(--portfolio-black);
		}
		&.white {
			background-color: var(--portfolio-white);
			border: 1px solid var(--portfolio-black);
		}
	}
}

.gallery-top {
	background-position: center 0%;
}

.mobile-mock {
	height: 400px;
	width: auto;
	border-radius: 20px;
	margin-right: 20px;
}

.tab-mock {
	height: 400px;
	width: auto;
	border-radius: 20px;
	margin-right: -20px;
}

.browser-mock-container {
    position: relative;
    height: auto;
    width: calc(100% - 40px);
    padding: 0px 20px;
    margin-left: -40px;
}

.browser-mock {
	height: auto;
	width: 100%;
	border-radius: 10px;
	position: absolute;
	top: 0;
}

.browser-mock.bm-0 {
	position: relative;
	opacity: 0;
}

.browser-mock.bm-1 {
	margin-left: -20px;
}

.browser-mock.bm-2 {
	margin-left: 0;
	margin-top: 20px;
}

.browser-mock.bm-3 {
	margin-left: 20px;
	margin-top: 40px;
}

.force-size {
/*	width: 1000px;*/
	max-width: 100%;
}

.surface-proto {
    width: 500px;
    height: 338px;
    position: absolute;
    padding: 0px 52px 0 54px;
    object-fit: cover;
    overflow: hidden;
}

.surface-proto img {
	width: 100%;
	height:auto;
	object-fit: cover;
	top: 7px;

	-webkit-animation-name: sublime-scroll; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 7s; /* Safari 4.0 - 8.0 */
	-webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
	animation-name: sublime-scroll;
	animation-duration: 7s;
	animation-iteration-count: infinite;
	position: relative;
	animation-timing-function:ease;
	animation-delay: .1s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes sublime-scroll {
	0%   {top: 7px;}
	15%   {top: 7px;}
	30%  {top: -75px;}
	45%  {top: -75px;}
	60%  {top: -125px;}
	85%  {top: -125px;}
	100% {top: 7px;}
}

/* Standard syntax */
@keyframes sublime-scroll {
	0%   {top: 7px;}
	15%   {top: 7px;}
	30%  {top: -75px;}
	45%  {top: -75px;}
	60%  {top: -125px;}
	85%  {top: -125px;}
	100% {top: 7px;}
}

.surface-splash {
    width: 500px;
    height: auto;
    position: relative;
    display: inline-block;
}

.sublime-blink {
    height: 7px;
    width: 1px;
    border-radius: 0%;
    background-color: white;
    position: absolute;
    margin: 0 auto;
    margin-right: 360px;
    margin-top: 158px;
    left: 0;
    right: 0;
	opacity: 1;

	-webkit-animation-name: sublime-blink; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 7s; /* Safari 4.0 - 8.0 */
	-webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
	animation-name: sublime-blink;
	animation-duration: 7s;
	animation-iteration-count: infinite;
	animation-timing-function:ease;
	animation-delay: .1s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes sublime-blink {
	0%   {top: 7px; opacity: 0;}
	10%   { opacity: 1;}
	15%   {top: 7px;}
	20%   { opacity: 0;}
	30%  {top: -75px; opacity: 1;}
	40%   { opacity: 0;}
	45%  {top: -75px;}
	50%   { opacity: 1;}
	60%  {top: -125px; opacity: 0;}
	70%   { opacity: 1;}
	80%   { opacity: 0;}
	85%  {top: -125px;}
	90%   { opacity: 1;}
	100% {top: 7px;  opacity: 0;}
}

/* Standard syntax */
@keyframes sublime-blink {
	0%   {top: 7px; opacity: 0;}
	10%   { opacity: 1;}
	15%   {top: 7px;}
	20%   { opacity: 0;}
	30%  {top: -75px; opacity: 1;}
	40%   { opacity: 0;}
	45%  {top: -75px;}
	50%   { opacity: 1;}
	60%  {top: -125px; opacity: 0;}
	70%   { opacity: 1;}
	80%   { opacity: 0;}
	85%  {top: -125px;}
	90%   { opacity: 1;}
	100% {top: 7px;  opacity: 0;}
}

.design-splash {
	object-fit: cover;
	width: 100%;
	height: 400px;
}

.forcaster-gallery-container {
	width: 100%;
}

.forecaster-gallery {
	width: 50%;
	height: auto;
	object-fit: cover;
	height: 16.6666vw;
	display: inline-block;
	float: left;
}

.forecaster-squares {
	display: inline-block;
	object-fit: cover;
	height: 16.6666vw;
	float: left;
}

.forecaster-scroller-container {
  position: relative;
  height: 90vh;
  width: 50vw;
  padding: 0px 0px;
  clip-path: content-box;
}

.forecaster-scroller {
  view-timeline-name: --subjectReveal;
  animation-timeline: --subjectReveal;
  animation-name: forecaster-scroller-anim;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  width: 100%;
}

@keyframes forecaster-scroller-anim {
    0% {
      transform: translateY(0px);
    }

    100% {
      transform: translateY(-1200px);
    }
}

.freelance-scroller-text {
  view-timeline-name: --subjectReveal;
  animation-timeline: --subjectReveal;
  animation-name: freelance-scroller-text;
  animation-fill-mode: both;
  animation-timing-function: linear;
  width: 100%;
}

@keyframes freelance-scroller-text {
    0% {
      transform: translateY(400px);
      opacity: 0;
    }
    
    20% {
      opacity: 0;
    }
    
    45% {
      opacity: 1;
    }

    100% {
      transform: translateY(-400px);
      opacity: 1;
    }
}

.freelance-scroller-img {
  view-timeline-name: --subjectReveal;
  animation-timeline: --subjectReveal;
  animation-name: freelance-scroller-img;
  animation-fill-mode: both;
  animation-duration: 1ms;
  width: 100%;
}

@keyframes freelance-scroller-img {
    0% {
      transform: translateY(200px);
    }

    100% {
      transform: translateY(-200px);
    }
}


.forecaster-index-container {
    position: relative;
    height: 602px;
    width: 298px;
    overflow: hidden;
    padding: 0px 0px;
}

.forecaster-index {
    background-attachment: fixed;
    height: 602px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.flip-splash {
	width: 100%;
	height: auto;
}

.freelance-double {
	width: auto;
	height: auto;
	align-self: center;
    padding: 0px 40px;
    max-width: 50%;
}

.freelance-gallery {
    width: 100%;
    height: 500px;
    float: left;
    background-attachment: fixed;
    background-position: center center;
    background-size: 100% auto;
}

.freelance-gallery-container {
	margin-left: -20px;
	margin-right: -20px;
}

.freelance-squares {
	width: calc(33.333333% - 40px);
    height: auto;
    margin: 20px;
    float: left;
}

.forecaster-logo, .mindmap-anim {
	width: 298px;
	height: auto;
}

.forecaster-logo path {
	fill: var(--portfolio-black);
}





/* research animation */

.magnifier {
	width: 298px;
	height: auto;
}

.magnifier path {
	fill: var(--portfolio-black);
}


@keyframes bounce {
	0%    {transform: scale(1);}
	52.5%    {transform: scale(1);}
	55%    {transform: scale(.93);}
	57.5%    {transform: scale(1.15);}
	60%    {transform: scale(.95);}
	62.5%    {transform: scale(1);}
	100%    {transform: scale(1);}
}

.mindmap-anim {

	overflow: visible;
	stroke: var(--portfolio-black);
	fill: var(--portfolio-green);

	 & circle {
	 	transform-origin: 50% 50% 0;
	 	transform-box: fill-box;
	 	stroke-width: 12;
	 }

	 & path {
	 	stroke-width: 8;
	 }

	.mindmap-circle-0 {
	 	animation: bounce 6s ease-in-out infinite;
	 	animation-delay: 0ms;
	}

	.mindmap-circle-1 {
	 	animation: bounce 6s ease-in-out infinite;
	 	animation-delay: 600ms;
	}

	.mindmap-circle-3 {
	 	animation: bounce 6s ease-in-out infinite;
	 	animation-delay: 900ms;
	}

	.mindmap-circle-4 {
	 	animation: bounce 6s ease-in-out infinite;
	 	animation-delay: 1200ms;
	}

	.mindmap-circle-6 {
	 	animation: bounce 6s ease-in-out infinite;
	 	animation-delay: 1500ms;
	}

	.mindmap-circle-2 {
	 	animation: bounce 6s ease-in-out infinite;
	 	animation-delay: 3300ms;
	 	stroke-width: 4;
	}

	.mindmap-circle-5 {
	 	animation: bounce 6s ease-in-out infinite;
	 	animation-delay: 3600ms;
	 	stroke-width: 4;
	}

	.mindmap-circle-7 {
	 	animation: bounce 6s ease-in-out infinite;
	 	animation-delay: 3900ms;
	 	stroke-width: 4;
	}

	.line-1, .line-3, .line-6 {
		stroke-width: 4;
	}

}




.terminal-svg {
	width: 298px;
	height: auto;
}

.terminal-svg path {
	fill: white;
}

.svg-line {
	-webkit-animation-name: terminal-blink; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 1.3s; /* Safari 4.0 - 8.0 */
	-webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
	animation-name: terminal-blink;
	animation-duration: 1.3s;
	animation-iteration-count: infinite;
	animation-timing-function:ease;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes terminal-blink {
	0%    {opacity: 0;}
	30%    {opacity: 0;}
	40%    {opacity: 1;}
	90%    {opacity: 1;}
	100%    {opacity: 0;}
}

/* Standard syntax */
@keyframes terminal-blink {
	0%    {opacity: 0;}
	30%    {opacity: 0;}
	40%    {opacity: 1;}
	90%    {opacity: 1;}
	100%    {opacity: 0;}
}

.resume-svg {
	transition: .2s opacity;
}

a:hover svg.resume-svg {
	opacity: .6;
}





/*color formatting*/

.red-bg {
	background-color: var(--portfolio-red);	
}

.gray-bg {
	background-color: var(--portfolio-gray);
}

.red-text {
	color: var(--portfolio-red);	
}

.yellow-bg {
	background-color: var(--portfolio-yellow);	
}

.yellow-text {
	color: var(--portfolio-yellow);	
}

.blue-bg {
	background-color: var(--portfolio-blue);	
}

.blue-text {
	color: var(--portfolio-blue);	
}

.green-bg {
	background-color: var(--portfolio-green);	
}

.green-text {
	color: var(--portfolio-green);	
}

.white-bg {
	background-color: white;
}

.white-text {
	color: white;
}

.dark-bg {
	background-color: #595C5C;
}

.dark-text {
	color: var(--portfolio-black);
}

.transparent-bg {
	background-color: transparent;
}

.highlight-text, .highlight-bg, .highlight-stroke {
	transition: all .5s;
}

.shadow-diffuse {
	-webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
}

.shadow-heavy {
	-webkit-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.3);
}









/*Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
/*@media (min-width: 576px) {
}*/

/*Medium devices (tablets, 768px and up)*/
/*@media (min-width: 768px) {
}*/

/*Large devices (desktops, 992px and up)*/
/*@media (min-width: 992px) {
}*/

/*Extra large devices (large desktops, 1200px and up)*/
/*@media (min-width: 1200px) {
}*/









/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1800px) {
	
	.freelance-squares {
	    width: calc(25% - 40px);
	}

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 2200px) {



	.mobile-mock {
		height: 500px;
	}

	.tab-mock {
		height: 500px;
	}

}








/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.container {
		max-width: 90vw;
	}

	.hero-title {
		font-size: 3.8rem;
	}

	.section-title {
		font-size: 2.5rem;
	}

	.sub-title {
		font-size: 2rem;
	}

	.logo-bug, .section-logo-bug {
		top: 5vw;
		left: 5vw;
	}

	.about-social-container, .section-about-social-container {
		top: 5vw;
		right: 5vw;
	}

	.scroll-links, .section-scroll-links {
	    left: 5vw;
	}

	.tab-mock {
		width: 100%;
		height: auto;
		margin-right: 0;
	}

	.mobile-mock {
	    height: auto;
	    width: 100%;
	    border-radius: 20px;
	    margin-right: 0px;
	}

	.portfolio-gallery-container {
		margin-left: 0;
	}

	.portfolio-gallery {
		width: calc(29vw);
		height: auto;
		margin: 0 2vw;
	    border-radius: 20px;
	}

	.shadow-splash {
		width: 186px;
		height: 383px;
		left: 0;
	}

	.ux-splash {
		width: 190px;
		margin-left: -2px;
	}

	.splash-proto {
		width: 190px;
		height: 350px;
		position: absolute;
		padding: 0px 15px 0px 7px;
		object-fit: cover;
		overflow: hidden;
		margin-left: 5px;
	}

	.splash-proto img {
	}

	/* Safari 4.0 - 8.0 */
	@-webkit-keyframes proto-scroll {
		0%   {top: 13px;}
		10%   {top: 13px;}
		40%  {top: -113px;}
		45%  {top: -113px;}
		70%  {top: -233px;}
		80%  {top: -233px;}
		100% {top: 13px;}
	}

	/* Standard syntax */
	@keyframes proto-scroll {
		0%   {top: 13px;}
		10%   {top: 13px;}
		40%  {top: -113px;}
		45%  {top: -113px;}
		70%  {top: -233px;}
		80%  {top: -233px;}
		100% {top: 13px;}
	}

	.thumb-scroll {
		height: 25px;
		width: 25px;
	}

	/* Safari 4.0 - 8.0 */
	@-webkit-keyframes thumb-scroll {
		0%   {top: 150px; opacity: 0;}


		9%   {opacity: 0;}
		10%   {top: 170px; opacity: .5;}
		40%  {top: 20px; opacity: .5;}
		42% {top: 20px; opacity: 0;}


		43% {opacity: 0;}
		45%  {top: 170px; opacity: .5;}
		70%  {top: 20px; opacity: .5;}
		72%  {opacity: 0;}

		77%  {opacity: 0;}
		80% {top: 20px; opacity: .5;}
		97% {opacity: .5;}
		100% {top: 215px; opacity: 0;}
	}

	/* Standard syntax */
	@keyframes thumb-scroll {
		0%   {top: 170px; opacity: 0;}


		9%   {opacity: 0;}
		10%   {top: 170px; opacity: .5;}
		40%  {top: 20px; opacity: .5;}
		42% {top: 20px; opacity: 0;}


		43% {opacity: 0;}
		45%  {top: 170px; opacity: .5;}
		70%  {top: 20px; opacity: .5;}
		72%  {opacity: 0;}

		77%  {opacity: 0;}
		80% {top: 20px; opacity: .5;}
		97% {opacity: .5;}
		100% {top: 215px; opacity: 0;}
	}

	.forecaster-logo, .terminal-svg, .magnifier {
	    width: calc(100% - 40px);
	    height: auto;
	}

	.headshot {
		height: 28vw;
		width: 28vw;
	}






	.surface-proto {
	    width: 370px;
	    height: 250px;
	    position: absolute;
	    padding: 0 40px 0 39px;
	}

	.surface-proto img {
	    top: 5px;
	}

	.surface-splash {
	    width: 370px;
	}

	.sublime-blink {
		margin-right: 290px;
	}


	/* Safari 4.0 - 8.0 */
	@-webkit-keyframes sublime-scroll {
		0%   {top: 0px;}
		15%   {top: 0px;}
		30%  {top: -50px;}
		45%  {top: -50px;}
		60%  {top: -100px;}
		85%  {top: -100px;}
		100% {top: 0px;}
	}

	/* Standard syntax */
	@keyframes sublime-scroll {
		0%   {top: 0px;}
		15%   {top: 0px;}
		30%  {top: -50px;}
		45%  {top: -50px;}
		60%  {top: -100px;}
		85%  {top: -100px;}
		100% {top: 0px;}
	}

	.forecaster-squares {
		height: 33.333vw;
	}

	.forecaster-gallery {
	    width: 100%;
	    height: 33.333vw;
	}

	.freelance-squares {
	    width: calc(33.333333% - 20px);
	    margin: 10px;
	}

	.force-size {
		width: auto;
	}





}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

	.flex-1, .flex-2, .flex-3, .flex-4, .flex-5, .flex-6, .flex-7, .flex-8, .flex-9, .flex-10, .flex-11, .flex-12, .flex-13, .flex-14, .flex-15, .flex-16, .flex-17, .flex-18 {
		flex: 1 100%;
	}

	.container {
	    max-width: calc(100% - 40px);
	}

	.section .container {
		/*flex-wrap: wrap;*/
	}

	.logo-bug, .section-logo-bug {
		top: 20px;
		left: 20px;
	}

	.about-social-container, .section-about-social-container {
		top: 20px;
		right: 20px;
	}

	.about-me, .section-about-me, .social-link, .section-social-link {
		margin-left: 15px;
	}

	.content-btn {
	    width: auto;
	    height: auto;
	    min-width: initial;
	    min-height: initial;
	    padding: 7px 20px;
	    border-radius: 15px;
	}

	.scroll-links, .section-scroll-links {
	    top: 109px;
	    left: 20px;
	}

	.section-scroll-links {
		display: none;
	}

	.scroll-links, .section-scroll-links, .about-me, .section-about-me {
		font-size: 1.5rem;
	}

	.emphasis {
		/*font-size: 3rem;*/
		font-size: 13vw;
	}

	.hero-title {
		font-size: 15vw;
	}

	.section-title {
		/*font-size: 2.25rem;*/
		font-size: 7.5vw;
	}

	.sub-title {
		font-size: 5vw;
	}

	.copy-title {
		font-size: 4vw;
	}

	.copy {
		font-size: 3.6vw;
	}

	.small-copy {
		font-size: 3vw;
	}

	.down-arrow {
		margin-top: 20px;
		height: 50px;
		width: 50px;
	}

	.ux-splash {
		width: 103%;
        height: auto;
        margin-left: -4px;
        aspect-ratio: 129 / 259;
	}

	.shadow-splash {
		width: 100%;
        height: auto;
        padding: 0;
        margin-left: 0;
        margin-top: 20px;
        aspect-ratio: 123 / 247;
	}

	.splash-proto {
		width: 100%;
        height: auto;
        padding: 0px 8px;
        margin-left: -3px;
        margin-top: 0px;
        aspect-ratio: 128 / 228;
	}

	.splash-proto img {
	}

	/* Safari 4.0 - 8.0 */
	@-webkit-keyframes proto-scroll {
		0%   {top: 13px;}
		10%   {top: 13px;}
		40%  {top: -135px;}
		45%  {top: -135px;}
		70%  {top: -230px;}
		80%  {top: -230px;}
		100% {top: 13px;}
	}

	/* Standard syntax */
	@keyframes proto-scroll {
		0%   {top: 13px;}
		10%   {top: 13px;}
		40%  {top: -135px;}
		45%  {top: -135px;}
		70%  {top: -230px;}
		80%  {top: -230px;}
		100% {top: 13px;}
	}

	.thumb-scroll {
		height: 25px;
		width: 25px;
	}

	/* Safari 4.0 - 8.0 */
	@-webkit-keyframes thumb-scroll {
		0%   {top: 150px; opacity: 0;}


		9%   {opacity: 0;}
		10%   {top: 150px; opacity: .5;}
		40%  {top: 20px; opacity: .5;}
		42% {top: 20px; opacity: 0;}


		43% {opacity: 0;}
		45%  {top: 150px; opacity: .5;}
		70%  {top: 20px; opacity: .5;}
		72%  {opacity: 0;}

		77%  {opacity: 0;}
		80% {top: 20px; opacity: .5;}
		97% {opacity: .5;}
		100% {top: 175px; opacity: 0;}
	}

	/* Standard syntax */
	@keyframes thumb-scroll {
		0%   {top: 150px; opacity: 0;}


		9%   {opacity: 0;}
		10%   {top: 150px; opacity: .5;}
		40%  {top: 20px; opacity: .5;}
		42% {top: 20px; opacity: 0;}


		43% {opacity: 0;}
		45%  {top: 150px; opacity: .5;}
		70%  {top: 20px; opacity: .5;}
		72%  {opacity: 0;}

		77%  {opacity: 0;}
		80% {top: 20px; opacity: .5;}
		97% {opacity: .5;}
		100% {top: 175px; opacity: 0;}
	}

	.mobile-proto-container {
		display: inline-flex !important;
		position: relative;
        width: calc(100% - 40px);
        padding: 0px;
	}

	.splash-proto-container {
		display: none !important;
	}

	.forecaster-logo,.terminal-svg, .mindmap-anim {
	    width: 33vw;
	    margin-top: 20px;
	}

	.footer {
		padding: 10px 30px;
		height: auto;
	}

	.ux-iso {
		margin-top: 40px;
	}

	.tab-mock {
		margin-right: 0;
		width: 100%;
		height: auto;
		margin-top: 60px;
		margin-bottom: 60px;
	}

	.portfolio-gallery-container {
		margin-left: 0px;
		text-align: center;
		width: 100%;
	}

	.portfolio-gallery {
	    width: auto;
	    height: 60vh;
	    margin: 0;
	    border-radius: 16px;
	    display: inline-block;
	    float: none;
	}

	.browser-mock-container {
		height: 70vw;
		padding: 0;
		margin-top: 40px;
	}

	.browser-mock.bm-1 {
		margin-top: 0;
		margin-left: -1vw;
	}

	.browser-mock.bm-2 {
		margin-left: 5vw;
		margin-top: 6vw;
	}

	.browser-mock.bm-3 {
		margin-left: 11vw;
		margin-top: 12vw;
	}

	.surface-proto {
	    width: 100%;
	    height: 56vw;
	    position: absolute;
	    padding: 0 8vw 0 8.5vw;
	    object-fit: cover;
	    overflow: hidden;
	}

	.surface-proto img {
	    width: 100%;
	    height: auto;
	    object-fit: cover;
	    top: 1vw;
	}

	.surface-splash {
	    width: 100%;
	    height: auto;
	    position: relative;
	    display: inline-block;
	}


	/* Safari 4.0 - 8.0 */
	@-webkit-keyframes sublime-scroll {
		0%   {top: 0px;}
		15%   {top: 0px;}
		30%  {top: -50px;}
		45%  {top: -50px;}
		60%  {top: -100px;}
		85%  {top: -100px;}
		100% {top: 0px;}
	}

	/* Standard syntax */
	@keyframes sublime-scroll {
		0%   {top: 0px;}
		15%   {top: 0px;}
		30%  {top: -50px;}
		45%  {top: -50px;}
		60%  {top: -100px;}
		85%  {top: -100px;}
		100% {top: 0px;}
	}

	.forecaster-scroller-container {
		height: 60vh;
		margin-bottom: 100px;
	}

	.forcaster-gallery-container {
		display: grid;
	    grid-template-columns: repeat(2, 1fr);
	    grid-template-rows: repeat(3, 1fr);
	    gap: 0px;
	}

	.forecaster-squares {
        height: auto;
        width: 100%;
        aspect-ratio: 1/1;
    }

	.flip-splash {
		padding: 0 10%;
	}

	.design-splash {
		margin-top: 60px;
	}

	.freelance-double {
	    width: auto;
	    height: auto;
	    align-self: center;
	    padding: 0px 10%;
	    max-width: 100%;
	}

	.freelance-squares {
		width: 50%;
		margin: 0;
	}

	.resume-svg {
		width: 10vw;
		height: auto;
	}

	.headshot {
        height: 33vw;
        width: 33vw;
        position: absolute;
        margin-top: -17vw;
        margin-left: 5vw;
	}

	.close-x {
		top: 20px;
		right: 20px;
	}



	.meazure-gallery-container {
	    height: auto;
	    padding: 20px 20px;

	    .meazure-gallery {
	    	row-gap: 20px;
	    	flex-wrap: wrap;
	    }

	    .m-g-laptop {
	    	width: 100%;
	    }

	    .m-g-mobile-container {
	    	column-gap: 20px;
	    }

	    .m-g-mobile {
	    	width: calc(50% - 10px);
	    }
	}

	.examity-gallery-container {
	    padding: 20px 20px;

	    .examity-gallery {
		    grid-template-columns: repeat(2, 1fr);
		    grid-template-rows: repeat(4, 1fr);
		    gap: 20px;
	    }

	    .e-g-item {
	    }
	}

	.supertheme-gallery {
		width: 100%;
		background-size: 100% auto;
		background-position: top center;
	}

	.mindmap-gallery {
        width: 100%;
        background-size: 150vh auto;
        background-position: top center;
    }

	.force-size {
		width: auto;
	}

	.mobile-order-first {
		order: -1;
	}

	.preparedness-gallery-container {
	    grid-template-columns: 1fr;
	    row-gap: 40px;
	    column-gap: 0px;
	    padding: 0 20px;

		.preparedness-gallery {
		    gap: 40px;
		}

	   .ux-iso {
	   	margin-top: 0;
	   }
	}

	.email-gallery-container {
		row-gap: 20px;

		.email-gallery {
			gap: 20px;
			display: grid;
			grid-template-columns: repeat(2, 1fr);

			img {
				width: 100%;
				border-radius: 4px;
			}
		}
	}

	.mobile-text-left {
		text-align: left !important;
	}


	.unlimited {
		padding: 0 0px;
	}


	/* ========= animation controls ========= */

	.index-content-anim, .index-title-anim, .proto-content-anim, .proto-image-anim, .freelance-scroller-text, .freelance-scroller-img {
		animation-name: none;
	}

	.forecaster-scroller-container {
	  height: 60vh;
      margin-bottom: 100px;
      width: 100%;
	}

	.forecaster-scroller {
	  animation-name: none;
	  width: 100%;
	}


}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}