/* ========================================
   RPG / CHARACTER SHEET
   ======================================== */

.mechanic-text {
    font-weight: 500;
}

.tiny-text {
    font-size: .75rem;
}

.level-badge {
    position: absolute;
    top: -35px;
    left: -35px;
    font-size: 2.5rem;
    font-weight: 600;
    padding: 1.5rem;
    background-color: var(--portfolio-black);
    color: var(--portfolio-white);
    border-radius: 50%;
    text-align: center;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: min-content;
    line-height: 0;
}

.column-container {
    max-width: 1280px;
}

.bumper {
    height: 48px;
    width: 100%;
}

.column-image {
    width: 100%;
    padding: 0 48px;
    object-fit: contain;
}

.trait-box {
    padding: 0 1rem 1rem 1rem;
    color: var(--portfolio-black);
    background-color: var(--portfolio-light-gray);
    border: 1px solid var(--portfolio-gray);
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    width: 100%;
    font-size: 14px;

    .trait-name {
        font-size: 1rem;
        font-weight: 600;
        margin-left: -1rem;
        margin-right: -1rem;
        background-color: var(--portfolio-black);
        padding: .5rem 1rem;
        color: var(--portfolio-white);
        .mechanic-text {
            font-weight: 600;
        }
    }

    .badge {
        width: fit-content;
        font-weight: 600;
        padding: .5rem 1rem;
        .mechanic-text {
            font-weight: 600;
        }

        .bg-dark {
            background-color: var(--portfolio-gray);
        }
    }
}

strong .mechanic-text {
    font-weight: 600;
}

.rpg-links {
    position: fixed;
    left: 60px;
    top: 134px;
    z-index: 4;
    display: flex;
    gap: .5rem;
    flex-direction: column;

    &.black {
        z-index: 3;
    }

    a {
        transition: opacity 200ms;

        &:hover {
            opacity: 0.5;
        }
    }

    .badge {
        background-color: var(--portfolio-black);
        color: var(--portfolio-white);
        padding: .25rem .5rem;

        .white & {
            background-color: var(--portfolio-white);
            color: var(--portfolio-black);
        }
    }
}

.line-container {
        position: relative;
        h4, h5, h6 {
        background-color: var(--portfolio-white);
        z-index: 2;
        position: relative;
        display: inline-block;
        margin: 0;
        padding: 20px 20px 20px 0;

    }

    .gray-bg & {
        h4, h5, h6 {
            background-color: #424242;
        }
    }
}

.line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%; 
    height: 1px;
    background-color: rgb(0 0 0 / 15%);
    transform: translateY(-50%); 
    z-index: 1; 

    .gray-bg & {
        background-color: rgb(255 255 255 / 25%);
    }
}

.empty-list {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

.empty-list.call-response {
    li {
        margin-bottom: .5rem;
        font-weight: 600;
    }
    li:nth-child(odd) {
        margin-bottom: 0;
        font-weight: 300;
    }
}

.c-sheet {
    background-color: var(--portfolio-near-white);
    border: 1px solid var(--portfolio-light-gray);
    padding: 1rem;
    border-radius: 24px;
}

.c-sheet-box {
    padding: 2rem;
    background-color: var(--portfolio-white);
    border: 1px solid var(--portfolio-light-gray);
    border-radius: 4px;
}

.c-sheet-image {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.stat-line {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(20, 1fr);
    gap: 1.5%;
}

.stat {
    grid-column: span 1;
    aspect-ratio: 1/1;
    /* min-width: 16px;
    min-height: 16px; */
    width: 100%;

    
    &.dot {
        border-radius: 50%;
    }
    
    &.square {
        border-radius: 4px;
    }
    
    &.default {
        background-color: var(--portfolio-medium-gray);
    }
    
    &.filled {
        background-color: var(--portfolio-black);
    }
    
    &.empty {
        border: 2px solid var(--portfolio-gray);
    }
    
    &.unavailable {
        border: 2px solid var(--portfolio-red);
    }
}

.stat-badge {
    font-size: 1.25rem;
    font-weight: 600;
    background-color: var(--portfolio-black);
    color: var(--portfolio-white);
    padding: .75rem;
    border-radius: 50%;
    text-align: center;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: min-content;
    line-height: 0;
}

.c-variables {
    column-gap: 12px;
}

/* ========================================
   RPG MEDIA QUERIES
   ======================================== */

@media only screen and (max-width: 992px) {
    .c-sheet {
        padding: .5rem;
        border-radius: 4px;
    }

    .c-sheet-box {
        padding: 1rem;
    }

    .column-image {
        padding: 0;
    }
}

@media only screen and (max-width: 767px) {
    .rpg-links {
        left: auto;
        top: auto;
        right: 24px;
        bottom: 24px;
        align-items: end;
    }

    .c-variables {
        column-gap: 4px
    }

    .c-variables, .c-variables h5 {
        font-size:3.6vw;
        margin-bottom: 0;
        align-self: center;
    }

    .level-badge {
        position: absolute;
        top: -15px;
        left: -15px;
        font-size: 1.5rem;
        padding: .75rem;
    }
}
